<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Product List</a></li>
    <li><a href="/add-product">Add Product</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/logout">logout</a></li>
</ul>